@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

.required-field::after {
    content: "*";
    color: red;
}